In [ ]:
a=1
print(type(a))

<class 'int'>

In [ ]:
class Faculty:
  pass
faculty=Faculty()
print(type(faculty))

<class '__main__.Faculty'>

In [ ]:
class Faculty:
  pass

faculty1=Faculty()
faculty1.name="nahan"
print(faculty1.name)

faculty2=Faculty()
faculty2.name="shamil"
print(faculty2.name)

print(type(faculty1))
print(type(faculty2))

nahan
shamil
<class '__main__.Faculty'>
<class '__main__.Faculty'>

In [ ]:
class Faculty:
  inst_id=101
  def __init__(self,name,age,place="manjeri"):
    self.name=name
    self.age=age
    self.place=place

faculty1=Faculty("nahan",18)
faculty2=Faculty("abee",18,"kazhikode")

print(faculty1.name)
print(faculty2.name)
print(faculty2.inst_id)
print(faculty1.place)
print(faculty2.place)

nahan
abee
101
manjeri
kazhikode

#***`How to create a class`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetials(self):
    print("printing all details")

#***`How to ccreate object from the class`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetials(self):
    print("printing all details")

    a=Car()
    b=Car()
    c=Car()

#***`How to check the type of a,b,c`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetials(self):
    print("printing all details")

a=Car()
b=Car()
c=Car()

print(type(a))
print(type(b))
print(type(c))

<class '__main__.Car'>
<class '__main__.Car'>
<class '__main__.Car'>

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetials(self):
    print("printing all details")

a=Car()
print(Car.color,Car.company,Car.model,Car.price)

black BMW m5 2500000000

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetials(self):
    print("printing all details")

a=Car()
a.displayDetials()

printing all details

#***`Constructor`***

In [ ]:
class Employee:
  company_name="ABCD TECHNOLOGY"
  location="kochi"

  def __init__(self,id,name,salary):

SyntaxError: incomplete input (<ipython-input-22-a340d9beb96c>, line 5)

#***`How to create object variable`***

In [ ]:
class Employee:
  company_name="ABCD TECHNOLOGY"
  location="kochi"

  def __init__(self,id,name,salary):
    self.emp_id=id
    self.emp_name=name
    self.emp_salary=salary
  def get_details(self):
    print(self.emp_id,self.emp_name,self.emp_salary)

obj1=Employee(100,"x",50000)
obj2=Employee(101,"y",60000)

obj1.get_details()
obj2.get_details()

100 x 50000
101 y 60000

#1.
* create a classs car with attribute brand .model and year

* instantiate an object with brand"toyota",model="corolla" and year=2020

* print the attribute of the object

In [ ]:
class car:
  pass

  def __init__(self,brand,model,year):
    self.car_brand=brand
    self.car_model=model
    self.car_year=year

  def get_details(self):
    print(self.car_brand,self.car_model,self.car_year)

obj1=car("Toyota","Corolla","2020")

obj1.get_details()

Toyota Corolla 2020

##`or`

In [ ]:
class car:
  def __init__(self,brand,model,year):
    self.car_brand=brand
    self.car_model=model
    self.car_year=year

car1=car("Toyota","Corolla","2020")
print(f"Brand: {car1.car_brand} , Model: {car1.car_model} , Year: {2020}")

Brand: Toyota , Model: Corolla , Year: 2020

#2.
*  add a class attribute wheels=4 to the car class
* access it using both the class name and an object

In [ ]:
class car:
  wheels=4
  def __init__(self,brand,model,year,wheels):
    self.car_brand=brand
    self.car_model=model
    self.car_year=year
    self.car_wheels=wheels


car1=car("Toyota","Corolla",2020,4)
print("class attribute via class: ",car.wheels)
print("class attribute viaobkect: ",car1.wheels)

class attribute via class:  4
class attribute viaobkect:  4

#3.
* write a class Rectangle with attribute length and breadth.

* add a method area to calculate the area of the rectangle and return it.

In [ ]:
class Rectangle:

  def __init__(self,length,breadth):
    self.rec_length=length
    self.rec_breadth=breadth

  def area(self):
    print(self.rec_length*self.rec_breadth)

rec1=Rectangle(20,30)
rec1.area()

600

#4.
* create a class of students
* add attributes name, age, id
* create a method to display the attributes
* create any 5 objects
* display the details of object 2
* access the object name
* display details of object 3

In [ ]:
class students:
  def __init__(self,name,age,id):
    self.std_name=name
    self.std_age=age
    self.std_id=id

  def display(self):
    print(self.std_name,self.std_age,self.std_id)

std1=students("shaml",18,202)
std2=students("nahan",18,204)
std3=students("adithyan",19,1004)
std4=students("nuhman",19,2003)
std5=students("najad",17,1005)

std2.display()
print(std1.std_name)
std3.display()

nahan 18 204
shaml
adithyan 19 1004

#5.
* **create a class called person with the following attributes: name(string),age(integer),city(string)**
* **The class should have the folowing methods:**
* **introduce():this method should print a sentence introducing the person like:"Hello,my name is[name],iam [age]years old,and i lives in [city]"**
* **is_adult():this method should return true if the person is 18 or older(an adult),otherwise return false.**
* **then create atleast 2 objects of the person class,initialize them with appropriate values and   demonstrate calling the methods inreoduse() and is_adult().**

In [ ]:
class Person:
  def __init__(self,name,age,city):
    self.person_name=name
    self.person_age=age
    self.person_city=city

  def indro(self):
      print(f"Hello,my name is {self.person_name},iam {self.person_age} years old,and i lives in {self.person_city}")
  def is_adult(self):
   return self.person_age >=18

prsn1=Person("shamil",18,"nilambur")
prsn2=Person("nahan",19,"manjeri")

prsn1.indro()
print(prsn1.is_adult())

prsn2.indro()
print(prsn2.is_adult())

Hello,my name is shamil,iam 18 years old,and i lives in nilambur
True
Hello,my name is nahan,iam 19 years old,and i lives in manjeri
True

#INHERITANCE

In [ ]:
class Human:

  def eat(self):
    print("i can eat")

  def walk(self):
    print("i can walk")

class male(Human):

  def talk(self):
    print("i can talk")

male1=male()
male1.eat()
male1.talk()

i can eat
i can talk

## consructor overriding

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def walk(self):
    print("i can walk")

class male(Human):
  def talk(self):
    print("i can talk")

  def walk(self):
    print("i can't walk")
    super().walk()

male1=male()

male1.walk()

i can't walk
i can walk

In [ ]:
class Employee:
  def __init__(self,name,age):
    self.name=name
    self.age=age

class Developer(Employee):
  pass

dev_1=Developer("shml",18)
print(dev_1.name)
print(dev_1.age)

shml
18

In [ ]:
# (og method)consructor overriding
class Employee:
  def __init__(self,name,age):
    self.name=name
    self.age=age

class Developer(Employee):
   def __init__(self,name,age,language):
    self.language=language
    super().__init__(name,age)

dev_1=Developer("shml",18,"python")

print(dev_1.language)
print(dev_1.name)
print(dev_1.age)

python
shml
18

#6.
* create base class product with



* consuctor (__init__)to initialize name and price
* a method diplay_detail() to print product details
* create a subclass Elactronics with:


* construtor (__init__) to initilalize name ,price and warrenty.
* override the display_details() method to include warranty
* instantiate objects of both classes and call their display_details() methods

In [ ]:
class Product:
  def __init__(self,name,price):
    self.prod_name=name
    self.prod_price=price

  def display_details(self):
    print(f"The product name is {self.prod_name} and the price is {self.prod_price}")

class Electronics(Product):
  def __init__(self,name,price,warranty):
    self.prod_warranty=warranty
    super().__init__(name,price)

  def display_details(self):
    super().display_details()
    print(f"The product warranty is {self.prod_warranty} years")

p1=Product("computer",30000)
p1.display_details()

p2=Electronics("laptop",50000,3)
p2.display_details()

The product name is computer and the price is 30000
The product name is laptop and the price is 50000
The product warranty is 3 years

In [ ]:
class Mobile:

  def __init__(self,name,price):
    self.name = name
    self.price = price

  def display_details(self):
    print(self.name,self.price)

class Phone(Mobile):

  def __init__(self,name,price,warranty):
    self.warranty = warranty
    super().__init__(name,price)

  def display_details(self):
    print(self.name,self.price,self.warranty)

mobile = Mobile("i phone",150000)

phone = Phone("samsung",25000,"3 year")

mobile.display_details()
phone.display_details()

i phone 150000
samsung 25000 3 year

#` multiple inheritance`

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def work(self):
    print("i can work")

class Male:
  def flirt(self):
    print("i can flirt")

  def work(self):
    print("i can code")

class Boy(Male,Human):
  pass

boy1=Boy()
boy1.eat()
boy1.flirt()
boy1.work()

i can eat
i can flirt
i can code

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def work(self):
    print("i can work")

class Male:
  def flirt(self):
    print("i can flirt")

  def work(self):
    print("i can code")

class Boy(Human,Male):
  def work(self):
    Male.work(self)

boy1=Boy()
boy1.eat()
boy1.flirt()
boy1.work()

i can eat
i can flirt
i can code

#***`Polymorphism`***

In [ ]:
class A:
  def show(self):
    print("Class A")

class B(A):
  def show(self):
    print("Class B")
    super().show()

class C(B):
  def show(self):
    print("Class C")
    super().show()

obj=C()
obj.show()

Class C
Class B
Class A

## `method overriding`

In [ ]:
class Animal:
  def speak(self):
    print("Animal is making a sound")

class Dog(Animal):
  def speak(self):
    print("Dog braks")
    super().speak()

class cat(Animal):
  def speaks(self):
    print("Cat meows")

dog=Dog()
dog.speak()

Dog braks
Animal is making a sound

##`method overloading`

`using default arguments`

In [ ]:
class Calculator:
  def add(self,a,b=0,c=0):
    return a+b+c

calc=Calculator()

print(calc.add(5))
print(calc.add(5,10))
print(calc.add(5,10,20))

5
15
35

`using variable-length arguments(*args)`

In [ ]:
class Mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum:{total}")

math=Mathoperations()
math.add(5)
math.add(5,10)
math.add(1,2,3,4,5)

sum:5
sum:15
sum:15

`using *Kwargs`

In [ ]:
class Greeting:
  def say_hello(self,**kwargs):
    if 'name' in kwargs and 'age' in kwargs and 'city' in kwargs:
      print(f"Hello,{kwargs['name']}!")
      print(f"you are,{kwargs['age']}years old")
      print(f"you live in,{kwargs['city']}.")
    else:
      print('hello')

g=Greeting()
g.say_hello()
g.say_hello(name='Aswanth',age=25,city='New York')

hello
Hello,Aswanth!
you are,25years old
you live in,New York.

#***`Enncapsulation`***

In [ ]:
class Company:
  def __init__(self,company_name,company_id):
    self.company_name=company_name
    self.__company_id=company_id

  def get_company_id(self):
    return self.__company_id

c1=Company("TCS",91)

print(c1.__Company_id)
print(c1.company_name)
#print(c1.get_company_id())

AttributeError: 'Company' object has no attribute '__Company_id'

In [ ]:
class Company:
  def __init__(self,company_name,company_id):
    self.company_name=company_name
    self.__company_id=company_id

  def get_company_id(self):
    return self.__company_id

c1=Company("TCS",91)

#print(c1.__Company_id)
print(c1.company_name)
print(c1.get_company_id())

TCS
91

In [ ]:
class Company:
  def __init__(self,company_name,company_id,company_ceo):
    self.company_name=company_name
    self.__company_id=company_id
    self.__company_ceo=company_ceo

  def get_company_id(self):
    return self.__company_id

  def set_ceo(self,setted_name):
    self.__company_ceo=setted_name

  def get_ceo(self):
    return self.__company_ceo

c1=Company("ALUNGAL",100,"nahan")

c1.set_ceo("shml")    #here company_ceo is "nahan" but setted as "shml"
print(c1.get_ceo())

manu

In [ ]:
class Company:
  def __init__(self,company_name,company_id,company_ceo):
    self.company_name=company_name
    self.__company_id=company_id
    self.__company_ceo=company_ceo

  def set_id(self,setted_id):
    self.__company_id=setted_id


  def get_id(self):
    return self.__company_id

  def get_company_ceo(self):
    return self.__company_ceo


c1=Company("ALUNGAL",100,"nahan")

c1.set_id(10)    #here company_id is 100 but setted as 10
print(c1.get_id())

10

In [ ]:
class BankAccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposite(self,amount):
    if amount >0:
      self.__balance=self.__balance+amount
      print(f"Deposited {amount}.New balance: {self.__balance}")
    else:
      print("Invalid deposite amount.")

  def get_balance(self):
    return self.__balance

accunt=BankAccount("12345",1000)
accunt.deposite(500)
#print(accunt.__balance)
print(accunt.get_balance())

Deposited 500.New balance: 1500
1500

Car Class

You are asked to develop a class to manage car's fuel securely.

1.​Define a Python class Car with the following private attribute:

      ○​ __fuel_level to store the fuel level in the car.

2.​Implement the following public methods:

     ○​ add_fuel(amount) – A method to add fuel to the car.

     ○​ get_fuel_level() – A method to display the current fuel level securely.

3.​ Demonstrate the usage of the class by:

      ○​ Adding 20 units of fuel to the car.
      ○​ Displaying the fuel level.

In [ ]:
class Car:
  def __init__(self,fuel):
    self.__fuel=fuel

  def add_fuel(self,amount):
    if amount >0:
      self.__fuel=self.__fuel+amount
      print(f"{amount} rs of fuel added ,New Fuel {self.__fuel}")

    else:
      print("invaild amount of fuel")

  def get_fuel(self):
    return self.__fuel

amntfuel=Car(50)
amntfuel.add_fuel(500)

print(amntfuel.get_fuel())

500 rs of fuel added ,New Fuel 550
550

ATM Class

You are required to implement a secure ATM system

1.​ Define a Python class ATM with the following private attributes:


    ○​ __pin to store the user's ATM PIN securely.
    ○​ __balance to store the current account balance.

2.​ Implement the following public methods:○​ set_pin(pin) – A method to securely set the ATM PIN.

    ○​ check_balance(pin) – A method to check the balance after PINverification.

3.​ Demonstrate the usage of the class by:

    ○​ Setting the PIN to 1234.
    ○​ Checking the balance by providing the correct PIN.

In [ ]:
class ATM:
    def __init__(self):
        self.__atm_pin=None
        self.__atm_balance=1000

    def set_pin(self,pin):
        self.__atm_pin=pin
        print("PIN set successfully")

    def check_balance(self,pin):
        if pin==self.__atm_pin:
            print(f"Balance: {self.__atm_balance}")
        else:
            print("Incorrect PIN")

atm =ATM()
atm.set_pin(1234)
atm.check_balance(1234)

PIN set successfully
Balance: 1000

#***`Abstraction`***

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
  def start_engine(self):
    print("Engine started")

  def apply_brake(self):
    print("Brake applied")

  def stop_engine(self):
    print("Engine Stopped")
  @abstractmethod
  def change_gear(self):
    pass


class Car(Vehicle):
  def open_sunroof(self):
    print("sunroof opened")
  def change_gear(self):
    print("the gear changed automatically")

class truck(Vehicle):
  def load_weight(self):
    print("weight loaded")
  def change_gear(self):
    print("the gear changed manually")



c=Car()
t=truck()
c.change_gear()
t.change_gear()

the gear changed automatically
the gear changed manually

>q)

>* Create an abstract class payment with an abstract method make_payment()
* Implement subclasses CreditCard and UPI, where each provides its implementation for make_payment()
* Demonstrate the usage by calling the methods on both subclasses

In [ ]:
from abc import ABC, abstractmethod

class Payment(ABC):
    @abstractmethod
    def make_payment(self, amount):
        pass

class CreditCard(Payment):
    def make_payment(self, amount):
        print(f"Paid {amount} using Credit Card.")

class UPI(Payment):
    def make_payment(self, amount):
        print(f"Paid {amount} using UPI.")

# Demonstration
credit_card_payment = CreditCard()
upi_payment = UPI()

credit_card_payment.make_payment(500)  # Output: Paid 500 using Credit Card.
upi_payment.make_payment(1000)        # Output: Paid 1000 using UPI.

Paid 500 using Credit Card.
Paid 1000 using UPI.

>q)

>* create an abstarct class shape with an method calculate_area()
* implement subclass circle and square
* for circle,calculate the area using the radius,and forr square
* calculate the area using the side length

In [ ]:
from abc import ABC, abstractmethod
from math import pi

class Shape(ABC):
  @abstractmethod
  def calculate_area(self,amount):
    pass

class Circle(Shape):
  def __init__(self,radius):
    self.radius=radius


  def calculate_area(self):
    print(f"Area of circle: {pi*self.radius ** 2:.2f}")

class Square(Shape):
  def __init__(self,side):
    self.side=side

  def calculate_area(self):
    print(f"Area of square: {self.side ** 2}")

circle=Circle(5)
square=Square(4)


circle.calculate_area()
square.calculate_area()

Area of circle: 78.54
Area of square: 16

>q)

>* Create an abstract class Animal with an abstract method speak()
* Implement the speak() method in subclasses Dog and Bird to print their respective sounds

In [ ]:
from abc import ABC ,abstractmethod

class Animal(ABC):
  @abstractmethod
  def speaks(self):
    pass

class Dog(Animal):
  def speaks(self):
    print("Dog barkes")

class Bird(Animal):
  def speaks(self):
    print("Bird chirps")

dog1=Dog()
bird1=Bird()

dog1.speaks()
bird1.speaks()

Dog barkes
Bird chirps